.boxbot {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 38px 48px 35px 38px;
    margin-top: 15px;
}
/* 左边模块 */
.leftbox{
    width: 396px;
}
.leftbox .left-top{
    width: 100%;
}

.left-top .left-top-li{
    color: #79A5DB;
    font-size: 14px;
    background: url("../images/bfcs-bg.png") no-repeat;
    background-size: cover;
    width: 396px;
    height: 101px;
    margin-bottom: 15px;
}
.left-top-li-name{
    position: relative;
    left: -20px;
}
.left-top-li-val span{
    position: relative;
    font-size: 24px;
    padding: 6px 8px;
    margin-right: 10px;
}
.left-top-li-val-num1{
    color: #FFFFFF;
    background-color: #131251;
}
.left-top-li-val-num2{
    color: #8881ED;
    background-color: #141350;
}
.left-top-li-val-num3{
    color: #5D38E4;
    background-color: #12104D;
}

/* 中间模块 */