.boxbot {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 38px 48px 35px 38px;
    margin-top: 15px;
}
/* 左边模块 */
.leftbox{
    width: 396px;
    height: 800px;
}
.leftbox .left-top{
    width: 100%;
}

.left-top .left-top-li{
    color: #79A5DB;
    font-size: 14px;
    background: url("../images/bfcs-bg.png") no-repeat;
    background-size: cover;
    width: 396px;
    height: 101px;
    margin-bottom: 15px;
}
.left-top-li-name{
    position: relative;
    left: -20px;
}
.left-top-li-val span{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    font-size: 24px;
    padding: 6px 8px;
    margin-right: 10px;
    font-weight: bold;
}
.left-top-li-val-num1{
    color: #FFFFFF;
    background-color: #131251;
}
.left-top-li-val-num2{
    color: #8881ED;
    background-color: #141350;
}
.left-top-li-val-num3{
    color: #5D38E4;
    background-color: #12104D;
}

/* 中间模块 */
.centerbox{
    position: relative;
    width: 724px;
    height: 800px;
    margin-left: 50px;
    overflow: hidden;
}
.centerbox .mapbox {
    position: relative;
    top: -12px;
    width: 724px;
    height: 482px;
    overflow: hidden;
    background: url("./../images/map-bg.png") no-repeat;
}
.centerbox .mapbox .bmap {
    width: 714px;
    height: 413px;
    overflow: hidden;
    margin-left: 3px;
    margin-top: 15px;
}
.centerbox .map-area{
    position: absolute;
    z-index: 88;
    bottom: 63px;
    right: 20px;
}

.centerbox  .friendsbox{
    width: 724px;
    height: 338px;
    overflow: hidden;
    position: relative;
    top: -10px;
}

/* 右边部分 */
.rightbox{
    position: relative;
    top: -6px;
    width: 355px;
    height: 800px;
    margin-left: 50px;
    overflow: hidden;
}
.right-top{
    background: url("../images/peonum-bg.png") no-repeat;
    background-size: cover;
    width: 355px;
    height: 122px;
}
.right-bottom{
    background: url("../images/datum-bg.png") no-repeat;
    background-size: cover;
    width: 395px;
    height: 648px;
    position: relative;
    top: 28px;
}